.container {
  padding: 20px;
  background: #F5F0FF;
  min-height: 100vh;
}

h2 {
  color: #26215C;
}

button {
  margin-bottom: 15px;
  background: linear-gradient(135deg, #7F77DD, #D4537E);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.product-card {
  background: white;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #e6ddf8;
}

.actions {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.delete {
  background: #E24B4A;
}