<div class="center-container">

  <div class="showModal" *ngIf="showModal">
  <div class="modal">
      <h3>¡Bienvenida!</h3>
      <p>Inicio sesión correctamente</p>
  </div>
</div>

<div class="login-container">

  <div class="img-container">
  <img src="assets/images/bgLogo.webp" alt="">
  </div>

  <div class="info-container">
  <p class="welcome">BIENVENIDA DE NUEVO</p>
  <h2>Iniciar Sesión</h2>

  <form [formGroup] = "loginForm" (ngSubmit) = "login()">

    <div class="input-container">

      <div class="input">
    <label>Email:</label>
    <input type="email" formControlName="email" [class.input-error]="submitted && emailControl?.invalid">
    <div  class="field-error" *ngIf="submitted && emailControl?.errors?.['required']">
      El email es obligatorio
    </div>
    <div class="field-error" *ngIf="submitted && emailControl?.errors?.['email']">
      El email no tiene un formato correcto
    </div>
    </div>
      <div class="input">
    <label>Password:</label>
    <input type="password" formControlName="password" [class.input-error]="submitted && passwordControl?.invalid">
    <div class="field-error" *ngIf="submitted && passwordControl?.errors?.['required']">
      La constraseña es obligatoria
    </div>
    <div class="field-error" *ngIf="submitted && passwordControl?.errors?.['minlength']">
      <p class="pD">La contraseña debe tener mínimo 6 caracteres</p>
    </div>
    </div>
    <div class="button-container">
     <button type="submit">Ingresar</button>
      <p>No tienes cuenta? <span routerLink = "/auth/register">Registrate</span></p>
     </div>
    </div>

    <div class="server-error" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

  </form>
  </div>
</div>
</div>